
@{
    Layout = null;
}



<!doctype html>
<html class="no-js" lang="">


@await Component.InvokeAsync("_HeadUserLayoutComponentPartial")

<body>
   
    @await Component.InvokeAsync("_HeaderComponentPartial")
   
    @await Component.InvokeAsync("_MobileComponentPartial")

 
    @await Component.InvokeAsync("_NavbarComponentPartial")

 
     @RenderBody()

 
    
    @await Component.InvokeAsync("_FooterUserLayoutComponentPartial")

    
   
    @await Component.InvokeAsync("_ScriptUserLayoutComponentPartial")
</body>

</html>